<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="bootstrap.php">
    <coverage>
        <include>
            <directory>../src</directory>
        </include>
        <exclude>
            <file>../src/Resources.php</file>
            <file>../src/ResourceNotFoundException.php</file>
            <file>../src/DataStorage.php</file>
            <file>../src/System/Random.php</file>
            <file>../src/System/DefaultRandom.php</file>
            <file>../src/System/Clock.php</file>
            <file>../src/System/DefaultClock.php</file>
            <file>../src/System/FileSystemException.php</file>
            <file>../src/Log/LogFormat.php</file>
            <file>../src/Log/LogStorage.php</file>
            <file>../src/Http/HeaderField.php</file>
            <file>../src/Http/UploadFileNotFoundException.php</file>
            <file>../src/Http/Response/Body.php</file>
            <file>../src/Util/DataObject.php</file>
            <file>../src/Util/StringDecoder.php</file>
            <file>../src/Util/Properties.php</file>
            <file>../src/Web/Controller.php</file>
            <file>../src/Web/View.php</file>
            <file>../src/Web/Output.php</file>
            <file>../src/Web/DefaultOutput.php</file>
            <file>../src/Web/Session/ParseException.php</file>
            <file>../src/Web/Session/SessionContainer.php</file>
        </exclude>
    </coverage>
</phpunit>
